@page
@model IndexModel
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>
<html>

<body>

    <script>function myFunction() {
            var div = document.getElementById('TransFunc');
            clone = div.cloneNode(true);
            document.getElementById("Funcs").appendChild(clone);
        }</script>

    <p id="demo">Click the button to clone the above items</p>
    <button onclick="myFunction()">+</button> <br>

    <form action="/action_page.php">

        <div id="Funcs">

            <div id="TransFunc" display="block">
                𝛿(<input type="text" name="curstate" value="" maxlength="1" size="1">,<input type="text" name="input" value="" maxlength="1" size="1"> ) = {<input type="text" name="nextstate" value="" maxlength="20">}<br>
            </div>
        </div>
        <br>
        <input type="submit" value="Submit">
    </form>


    <p>Click the "Submit" button and the form-data will be sent to a page on the server called "/action_page.php".</p>

</body>
</html>
