<!DOCTYPE html>
<html>
<head>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <b>Enter the Transition Functions for a Finite Automata below:</b>
</head>

<body>

    <script>
    function myFunction() {
            var div = document.getElementById('TransFunc');
            clone = div.cloneNode(true);
            document.getElementById("Funcs").appendChild(clone);
        }
    </script>
        
    <p id="test">
        Example: 𝛿(current_state, input_symbol) = {next_state}<br>
        If there are multiple next states, separate them by a common (ex: B,D,E)
    </p>

    <script>
        function parse() {
            var children = document.getElementById('Funcs').childNodes;
            var array = Array.from(children);
            var curUrl = location.href;

            var inputs = document.getElementsByTagName("input");
            var inputs = Array.from(inputs);
            var bigstr = '';
            inputs.forEach(function (element) {
                if (element.value == null || element.value == 'Submit') {
                    return;
                }

                else {
                    var str = element.value;
                    str.trim();
                    bigstr = bigstr + str + ';' ;
                }
     
            })
            console.log(bigstr);
            var newUrl = curUrl + "Build" + "?input=" + bigstr + "&type=NFA"
            window.location = newUrl

        }
    </script>

    <button onclick="myFunction()" type="submit" value="+">+</button> <br>

    <div>

        <div id="Funcs">

            <div id="TransFunc" display="block">
                𝛿( <input type="text" name="curstate" value="" maxlength="1" size="1">,<input type="text" name="input" value="" maxlength="1" size="1"> ) = {<input type="text" name="nextstate" value="" maxlength="20">}<br>
            </div>

        </div>
        <br>
        <input onclick="parse()" type="submit" value="Submit">
    </div>


    <p>Click the "Submit" button</p>

</body>
</html>
